/* style sheet */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

/* start of header section: title, menu and btn_signOut */

.nav {
    background-color: black;
    display: flex;
    justify-content: center;
}

.nav-title {
    color: white;
    padding: 10px;
    margin-left: 10px;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-items: end;
    justify-content: space-evenly;
}

a {
    color: white;
    text-decoration: none;
}

li {
    padding: 4px 10px;
    margin: 4px;
}

.btn {
    background-color: steelblue;
    color: white;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    width: 75px;
}

/* end of header section  */

/* start of main-content section */

.main-content {
    background-color: red;
    flex: 1 0 auto;
}

div.main-container {
    display: flex;
    justify-content: center;
}

/* start of main-left section  */

div.main-left {
    flex: 0;
    background-color: #fff;
}


/* end of main-left section */

/* start of main-right section  */

div.main-right {
    flex: 0;
    background-color: yellow;
}

/* end of main-right section  */

/* end of main-content section */
