/* style sheet */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
}

/* start of header section: title, menu and btn_signOut */

.header_center {
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: black;
}

.header_container {
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 690px;
}

.nav-title {
    display: flex;
    align-items: center;
    flex: .5;
    color: white;
}

.nav-links {
    display: flex;
    flex: 2;
    justify-content: flex-start;
}

a.nav-links {
    color: white;
    text-decoration: none;
}

ul {
    display: flex;
    align-items: center;
}

li {
    padding: 4px 10px;
    margin: 4px;
}

.active {
    font-size: larger;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    width: 75px;
    height: 30px;
}

/* end of header section  */

/* start of main-content section */

div.main_container {
    display: flex;
    justify-content: center;
}

/* start of main-left section  */

div.main-left {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: flex-end;
}

/* start of profile card block  */


.user-card_container {
    display: flex;
    flex-direction: column;
    border: 2px solid silver;
    flex: 0 0 auto;
    width: 400px;
    height: 275px;
    margin: 20px;
}

.user-card_head {
    flex: 1;
    background-color: teal;
}

.img_user-card_user-icon {
    position: relative;
    top: 40px;
    left: 40px;
    width: 80px;
    border: 3px solid silver;
    border-radius: 50%;
}

.user-card_profile-content {
    display: flex;
    flex: 2;
    flex-direction: column;
    margin-left: 30px;
    justify-content: center;
}

.user-card_name {
    font-size: 30px;
    margin-top: 10px;
}

.user-card_location {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    align-items: flex-start;
}

.img_user-card_location-icon {
    flex: 0 0 auto;
    width: 15px;
}

p.user-card_location {
    margin-left: 10px;
    flex: 0 0 auto;
}

.user-card_job {
    margin-top: 10px;
}

.user-card_edit {
    display: flex;
    flex: 0 0 auto;
    align-items: flex-end;
    margin-top: 5px;
}

.img_user-card_edit-profile {
    width: 15px;
    height: 15px;
}

a.user-card_edit {
    margin-left: 10px;
    color: teal;
}

/* end of profile card block  */

/* Start of edu-card here  */

.edu-card_container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    background-color: white;
    border: 2px solid silver;
    margin: 10px 20px;
}

.edu-card_head {
    display: flex;
    height: 50px;
    background-color: black;
    color: white;
    align-items: center;
    padding-left: 30px;
}

.edu-card_content {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-top: 10px;
    margin-left: 20px;
} 

h2 {
    font-size: 22px;
    margin: 4px;
}

h3 {
    color: grey;
    margin: 4px;
}

p {
    font-weight: bold;
    margin: 4px;
}

/* end of edu-car here */

/* end of main-left section */

/* start of main-right section  */

div.main-right {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: flex-start;
}

/* start of connection-request-card */

.connection-request-card_container {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    background-color: #fff;
    border: 2px solid silver;
    width: 250px;
    height: 150px;
    margin: 10px 20px;
}

.connection-request-card_card-head {
    display: flex;
    height: 50px;
    flex-direction: row;
    background-color: black;
}

.connection-request-card_numberOfRequest {
    display: flex;
    color: white;
    flex: 1;
    width: 10px;
    align-items: center;
    justify-content: center;
}

.connection-request-card_numContainer {
    display: flex;
    background-color: silver;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid silver;
    border-radius: 50%;
    color: black;

}

.connection-request-card_title {
    display: flex;
    flex: 2;
    color: white;
    align-items: center;
    justify-content: start;
}

.connection-request-card_content {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-top: 10px;
    justify-content: flex-start;
}

.connection-request-card_user-request {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.connection-request-card_user-name {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
}

.img_connection-request-card_user-icon {
    width: 30px;
    border: 3px solid silver;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 25px;
}

.connection-request-card_card-acceptReject {
    display: flex;
    flex: 1 0 auto;
    width: 100px;
}

.img_connection-request-card_accept {
    width: 20px;
    height: 20px;
}

.img_connection-request-card_cancel {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.connection-request-card_X {
    display: flex;
    background-color: grey;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 50%;
    color: white;
    margin-left: 5px;
}
/* end of connection-request-card */

/* start of your-connections-card */


.your-connections-card_container {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    background-color: #fff;
    border: 2px solid silver;
    width: 250px;
    margin: 20px;
}

.your-connections-card_head {
    display: flex;
    height: 50px;
    flex-direction: row;
    background-color: black;
}

.your-connections-card_numberOfRequest {
    display: flex;
    color: white;
    flex: 1;
    width: 10px;
    align-items: center;
    justify-content: center;
}

.your-connections-card_numContainer {
    display: flex;
    background-color: silver;
    width: 40px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid silver;
    border-radius: 50%;
    color: black;
}

.your-connections-card_title {
    display: flex;
    flex: 2;
    color: white;
    align-items: center;
    justify-content: start;
}

.your-connections-card_content {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-top: 10px;
}

.your-connections-card_user-request {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.your-connections-card_user-name {
    display: flex;
    flex: 1;
    align-items: center;
}

.img_your-connections-card_user-icon {
    width: 30px;
    border: 3px solid silver;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 25px;
}

.your-connections-card_view-more {
    display: flex;
    border-top: 2px solid silver;
    height: 40px;
    align-items: center;
    padding-left: 20px;
}

a.your-connections-card_view-more {
    display: flex;
    color: teal;
}


/* end of your-connections-card */

/* end of main-right section  */

/* end of main-content section */
